(
    selected_tab: Some("ea9a97"),
    command_fg: Some("e0def4"),
    selection_bg: Some("393552"),
    cmdbar_bg: Some("232136"),
    cmdbar_extra_lines_bg: Some("2a273f"),
    disabled_fg: Some("6e6a86"),
    diff_line_add: Some("9ccfd8"),
    diff_line_delete: Some("eb6f92"),
    diff_file_added: Some("f6c177"),
    diff_file_removed: Some("eb6f92"),
    diff_file_moved: Some("c4a7e7"),
    commit_hash: Some("ea9a97"),
    commit_time: Some("9ccfd8"),
    commit_author: Some("f6c177"),
    danger_fg: Some("eb6f92"),
    push_gauge_bg: Some("2a273f"),
    push_gauge_fg: Some("9ccfd8"),
    tag_fg: Some("f6c177"),
    branch_fg: Some("9ccfd8"),
)
