(
    selected_tab: Some("d7827e"),
    command_fg: Some("575279"),
    selection_bg: Some("faf4ed"),
    cmdbar_bg: Some("fffaf3"),
    cmdbar_extra_lines_bg: Some("f2e9e1"),
    disabled_fg: Some("9893a5"),
    diff_line_add: Some("286983"),
    diff_line_delete: Some("b4637a"),
    diff_file_added: Some("ea9d34"),
    diff_file_removed: Some("b4637a"),
    diff_file_moved: Some("907aa9"),
    commit_hash: Some("d7827e"),
    commit_time: Some("56949f"),
    commit_author: Some("ea9d34"),
    danger_fg: Some("b4637a"),
    push_gauge_bg: Some("f2e9e1"),
    push_gauge_fg: Some("56949f"),
    tag_fg: Some("ea9d34"),
    branch_fg: Some("286983"),
)
